*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    background-color: white;
    font-family: sans-serif;
    padding-left: 70px;
    padding-right: 70px;
    padding-top:20px;
    color: black;
}
@media (max-width: 1500px) {
    .main-container{
        padding-left: 20px;
        padding-right: 20px;
    }
}
.side-nav{
    position: sticky;
    top: 0;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #2b78f3 ;
    font-weight: bolder;
    font-size: large;
}
.side-nav-item{
    padding: 10px;
    padding-bottom: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.side-nav-item>hr{
    margin-top: 10px;
    margin-bottom: 0px;
    width: 100%;
    color: rgba(0, 0, 0, 0.512);
}
.side-nav-item:hover{
    background-color: #dbeafe;
}
.details{
    margin-left: 275px;
    transform: translateY(-670px);
}
.details h1{
    font-weight: 800;
}
.member-cards{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.side-button{
    display: none;
}
.active-side-nav-item{
    background-color: #dbeafe;
}
@media (max-width: 1245px) {
    .side-button{
        display: block;
    }
    .side-nav{
        display: inline-block;
        margin-left: 0px;
        position: absolute;
        left: 0px;
        top: 64px;
        bottom: 0;
        z-index: 100;
        background-color: white;
        width: 100vw;
        min-height: 100vh;
        height: fit-content;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        overflow-x: hidden;
    }
    .show-nav{
        transform: translateX(0%);
    }
    .show-nav-details{
        display: none;
    }
    .details{
        margin-left: 0px;
        transform: translateY(0px);
    }
}